:root{
    --color-black: #111111;
    --color-white: white;
    --color-gray: #6C6C6C;

    --font-family-default: 'IBM Plex Mono', monospace;
    --font-size-default: 15px;

    --font-size-title: 44px;
    --font-weight-title: 600;
}