.input{
height: 60px;
width: 360px;
background-color: white;
border: none;
border-radius: var(--border-radius-default);
padding: 16px 24px;
font-size: var(--font-size-default);
color: var(--color-black);
line-height: 22px;
}
.input::placeholder{
    color: var(--color-light-gray);
    font-family: var(--font-family-primary);
}
@media only screen and (max-width: 480px) {
    .input{
        width: 220px;
        height: 48px;
        font-size: 14px;
        line-height: 22px;
    }
}